<!DOCTYPE html>
<html>

<head>
    <title>
        表单
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <!-- 不需要绝对定位 -->
    <script src="/javascripts/jquery-3.3.1.min.js"></script>

    <h1>AJAX</h1>
    <script>
        let http_url = 'http://127.0.0.1:3000/form?name=sad&password=das';
        $.get(http_url).then(function() {

        })
    </script>

</body>

</html>